@@charset "UTF-8";

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../res/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../res/fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../res/fonts/ProximaNova-Regular.woff') format('woff'), url('../res/fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../res/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url('../res/fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),  url('../res/fonts/BrandonGrotesque-Medium.otf')  format('opentype'),
	     url('../res/fonts/BrandonGrotesque-Medium.woff') format('woff'), url('../res/fonts/BrandonGrotesque-Medium.ttf')  format('truetype'), url('../res/fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EyeCatching';
  src: url('../res/fonts/EyeCatching.eot?#iefix') format('embedded-opentype'), url('../res/fonts/EyeCatching.woff') format('woff'), url('../res/fonts/EyeCatching.ttf')  format('truetype'), url('../res/fonts/EyeCatching.svg#EyeCatching') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body{
}

h1{
  text-align: center;
}

p{
  margin-top: 0px;
  margin-bottom: 0;
  }

.productos{
  margin-left: auto;
  margin-right: auto;
  font-family: 'BrandonGrotesque-Medium' !important;
}

.inline-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}

.afuera {
  position: relative;
  font-family: 'BrandonGrotesque-Medium';

}

.adentro {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color:  #fadbd8;
  border-radius: 3px;
  padding: 0 5px 0px 5px;
}

.tituloprincipal {
  background-color: #fadbd8;
}
.tituloseccion
{
  font-size: 25px;
}

.brandon
{
  font-family: 'BrandonGrotesque-Medium';
}

.textocentrado
{
  text-align: center;
}

#carrusel {
  width: 65%;
  margin: 0px auto;
  image-resolution: from-image;
}

.elementocentrado
{

  margin-left: auto;
  margin-right: auto;
}

.tamanoproductos
{
  width: 200px;
  height: 200px;
}

.nombreproductos
{
  max-width: 160px;
  font-family: 'BrandonGrotesque-Medium';
  font-size: 13;
}

.tarjetas
{
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  max-height: 117px;
  max-width: 200px;
}

.separadorpyp
{
  margin-bottom: 7px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 7px
}

.botoncomprar
{
  background-color: #505050;
  border-bottom-color: #505050;
  border-left-color:#505050;
  border-right-color: #505050;
  border-top-color: #505050;
  font-size: 14px;
  display: none;
}

.textopequeno
{
font-size: 13px;
}
.margenlados
{
  margin-left: 70px;
  margin-right: 70px;
}
.imagencentrada
{
  display:block;
  margin:auto;
}
.Search
{
  border-bottom-color: #d61e1e;
  border-left-color: #d61e1e;
  border-top-color: #d61e1e;
  border-right-color: #d61e1e;
  color: #d61e1e;

}

.form1
{
  margin-top: 5px;
}

.margenform
{
  margin-left: 120px;
  margin-right: 120px;
}

.principal
{

}

.miniaturas
{

}

.miniatura
{
  border-radius: 3px;
}

.miniatura hide
{

}
